extends ./main

block content
    div.container
        table.table.table-bordered
            thead
                tr
                    th Nome
                    th Cnpj 
                    th Telefone
                    th E-mail
                    th Contato
                    th Ações
            tbody
                tr
                    td Cliente 1
                    td 1231231
                    td (123)123123123
                    td asd@asd
                    td contato
                    td
                        button.btn.btn-success(type="button") Editar 
                        button.btn.btn-danger(type="button") Deletar
                tr
                    td Cliente 2
                    td 1231231
                    td (123)123123123
                    td asd@asd
                    td contato
                    td
                        button.btn.btn-success(type="button") Editar 
                        button.btn.btn-danger(type="button") Deletar
                tr
                    td Cliente 3
                    td 1231231
                    td (123)123123123
                    td asd@asd
                    td contato
                    td
                        button.btn.btn-success(type="button") Editar 
                        button.btn.btn-danger(type="button") Deletar